.product-top--important-information
  .product-top--important-information--header
    .product-top--important-information--header--title
      %h1.product-top--important-information--header--title 重要なお知らせ
      .product-top--important-information--header--title--all
        = link_to "全て見る","#", class: "product-top--important-information--header--title--all--link"
  %ul.product-top--important-information--list
    %li.product-top--important-information--list--content-up
      %time.product-top--important-information--list--content-up--time 2019.02.22
      = link_to "「天然水」「炭酸水」回収についてのお詫びとお知らせ","#",class: "product-top--important-information--list--content-up--text"
    %li.product-top--important-information--list--content-middle
      %time.product-top--important-information--list--content-middle--time 2019.02.12
      = link_to "【再度のお願い】「無印良品・電気ケトル」回収についてのお詫びとお知らせ", "#",class: "product-top--important-information--list--content-middle--text"
    %li.product-top--important-information--list--content-down
      %time.product-top--important-information--list--content-down--time 2018.04.25
      = link_to "「綿ポリエステル変り織りソファ用カバー」表記謝りに対する消費者庁の措置命令について","#", class: "product-top--important-information--list--content-down--text"
